<!DOCTYPE html>

<html>
    <head>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>Signup</h1>
        <form method='POST'>
            <label for="username">Username</label>
                <input name="username" type="text" value='{{username}}' />
            </label>
            <p class= "error"> {{usernameError}} </p>

            <label for="password">Password</label>
                <input name="password" type="password" />
            <p class= "error"> {{passwordError}} </p>

            <label for="verify">Verify Password</label>
                <input name="verify" type="password" />
            <p class= "error"> {{ConfirmpassError}} </p>

            <label for="email">Email (optional)</label>
                <input name="email" type="text" value='{{email}}' />
            <p class= "error"> {{emailError}} </p> 

            <input type="submit">
        </form>
    </body>
</html>